body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
    perspective: 1000px;
}
.content img{
    position: absolute;
    width: 30vw;
    height: auto;
    backface-visibility: hidden;
    transition: 3s;
}
.content img:nth-child(2){
    transform: rotateY(180deg);
}
.content:hover img:nth-child(2){
    transform: rotateY(0deg);
}
.content:hover img:nth-child(1){
    transform: rotateY(-180deg);
}